<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.bowtye.decisive.ui.signUp.SignUpActivity">
        </activity>
        <activity android:name="com.bowtye.decisive.ui.login.LoginActivity" android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.bowtye.decisive.ui.main.MainActivity"/>
    </application>

</manifest>